{
  "openapi": "3.1.0",
  "info": {
    "title": "UK Supplier Payment Practices API",
    "description": "How fast do large UK companies pay their suppliers? Average days to pay, share of invoices paid late, payment terms and trend for about 10,000 companies, from the statutory Payment Practices Reporting filings. One call returns the latest figures, the history and how the company compares.",
    "version": "0.1.0"
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/companies/search": {
      "get": {
        "summary": "Find companies that file payment practices reports",
        "operationId": "Search companies",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 100,
              "description": "Company name words, e.g. tesco stores",
              "title": "Q"
            },
            "description": "Company name words, e.g. tesco stores"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "1-50",
              "default": 20,
              "title": "Limit"
            },
            "description": "1-50"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{company_number}": {
      "get": {
        "summary": "Latest payment figures, history, benchmark and signals for one company",
        "operationId": "Company payment profile",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Company Number"
            }
          },
          {
            "name": "history",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "How many past reports to include, 1-40",
              "default": 6,
              "title": "History"
            },
            "description": "How many past reports to include, 1-40"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{company_number}/reports": {
      "get": {
        "summary": "Every report a company has filed",
        "operationId": "Company reports",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Company Number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "1-50",
              "default": 20,
              "title": "Per Page"
            },
            "description": "1-50"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/benchmarks": {
      "get": {
        "summary": "How UK large companies pay, across all latest reports",
        "operationId": "Benchmarks",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/codes": {
      "get": {
        "summary": "What the fields and signals mean",
        "operationId": "Field notes",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  },
  "servers": [
    {
      "url": "https://uk-supplier-payment-practices.p.rapidapi.com",
      "description": "RapidAPI gateway"
    }
  ]
}